.header__main {
  /* border: 1px solid red; */
  padding: 2%;
  white-space: nowrap;
  width: fit-content;
}
.header__main h1 {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 23px;
}
